AddDefaultCharset UTF-8
AddCharset UTF-8 .html .xml
AddLanguage fr .html
DefaultLanguage "fr"
ErrorDocument 404 /404/index.html

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 hours"
  ExpiresByType text/css "access plus 2 hours"
  Header set Cache-Control "max-age=3600, public"
</IfModule>
