---
layout: default
---

  <article about="{{ site.url }}{{ page.url }}" class="hentry">
    <h1 property="dc:title">{{ page.title }}</h1> 
    {{ content }}
    <footer>
      Publié le 
      <data property="dc:created published">{{ page.date | date: "%d %b %Y" }}</data> par 
      <span class="author" property="dc:contributor">{% include author.html %}</span> / 
      <span property="dc:identifier"><a href="{{ site.url }}{{ page.url }}" rel="bookmark">lien permanent</a></span>
    </footer>
  </article>
