---
layout: default
---

  <article about="{{ site.url }}{{ page.url }}" class="hentry">
    <h1 property="dc:title">{{ page.title }}</h1> 
    {{ content }}
    <footer>
      <ul class="taglist">
        {% for tag in page.tags %}
        <li><a rel="tag">{{tag}}</a></li>
        {% endfor %}
      </ul>
      <p class="meta">Publié le 
      <time property="dc:created" class="published">{{ page.date | date: "%d %b %Y" }}</time> par 
      <span class="author" property="dc:contributor">{% include author.html %}</span> / 
      <span property="dc:identifier"><a href="{{ site.url }}{{ page.url }}" rel="bookmark">lien permanent</a></span>
      </p>
      <p>Pour réagir, n'hésitez-pas à m'écrire&nbsp;: clochix chez clochix.net</p>
    </footer>
  </article>
